@import url('http://fonts.cdnfonts.com/css/harabara');

.Footer
  justify-content: space-between
  display: flex
  &-title
    font-family: 'Harabara', sans-serif;
    font-size: 26px
  &-course
    font-family: 'Harabara', sans-serif;
    font-size: 24px
  &-social-icons
    padding-left 0
    margin-bottom 0
    list-style none
    li
        display inline-block
        margin-bottom 4px
    a
        background-color  #818a91
        color #eceeef
        font-size 16px
        display inline-block
        line-height 44px
        width 44px
        height 44px
        text-align center
        margin-right 8px
        border-radius 100%
        -webkit-transition all .2s linear
        -o-transition all .2s linear
        transition all .2s linear
        &.github
            &:hover
                background-color #1b1f23
        &.linkedin
            &:hover
                background-color #007bb6

  &-social-icons a:active,.social-icons a:focus,.social-icons a:hover
    color #fff
    background-color #29aafe
